/* Add a black background color to the top navigation */
.topnav {
  background-color: #855009;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#ed8d0c;
  color: white;
}
body {
  background: url("images/main_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin:0px;
  font-family:Arial;
}

.main_logo {
margin-top: -100px;
text-align:center;
display:flex;
justify-content:center;
height:800px;
align-items:center;
}
.wrapper
{
	padding-bottom: 90px;
}

.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: -200px;
	margin-bottom: 50px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 10%;
	width: 90%;
	height: 5px;
	background-image: linear-gradient(to right, transparent, rgb(179, 89, 0), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 5px solid rgb(48,49,51);
	border-right: 5px solid rgb(48,49,51);
}

.div-tab-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(50% - 10px);
	width: 20px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
	border-radius: 0 0 8px 8px;
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

.table {
  display: flex;
  justify-content: center;
}

.tg {
width: 25%;
    border-collapse:collapse;
    border-spacing:0;
}
 .tg td{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:26px;
     overflow:hidden;
    padding:20px 40px;
    word-break:normal;
}
 .tg th{
    font-family:Arial, sans-serif;
    font-size:26px;
     font-weight:normal;
    overflow:hidden;
    padding-top:0px;
    padding-left:0px;
    word-break:normal;
}
 .tg .tg-0pky{
    border-color:inherit;
    text-align:center;
    vertical-align:top
}
