<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Our Pizza</title>
    <link rel="stylesheet" href="{% static 'Menu/style.css' %}">
</head>
<body>
<div class="topnav">
  <a href="{% url 'main:index' %}">Home</a>
  <a class="active" href="{% url 'menu:index' %}">Menu</a>
  <a href="#contact">Contact</a>
  <a href="#about">History</a>
</div>
<img id="small_logo" src="{% static 'Menu/images/small_logo.png' %}"/>
<div class="menu_title">
    <h1>Our Pizza</h1>
</div>

<div class="menu_list">
    {% for pizza in pizzas %}
    <div class="menu_list_item">
        <span class="menu_list_title">{{pizza.name}}</span>
        <span class="menu_list_price">{{pizza.price | floatformat:2}}$</span>
        <br></br>
        <span class="menu_list_ingredients">{{pizza.ingredients}}</span>
        {% if pizza.vegetarian %}
        <span class="menu_list_isvege">VEGETARIAN</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
</body>
</html>