<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" href="{% static 'Main/style.css' %}">
</head>
<body>
<div class="topnav">
  <a class="active" href="{% url 'menu:index' %}">Home</a>
  <a href="{% url 'menu:index' %}">Menu</a>
  <a href="#contact">Contact</a>
  <a href="#about">History</a>
</div>
<div class="main_logo">
<img src="{% static 'Main/images/main_logo.png' %}"/>
</div>
<div class="link">
    <a class="link_title" href="{% url 'menu:index' %}">See our Menu!</a>
</div>
</body>
</html>