<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'Contact/style.css' %}">
</head>
<body>
<div class="topnav">
    <a href="{% url 'menu:index' %}">Home</a>
    <a href="{% url 'menu:index' %}">Menu</a>
    <a class="active" href="{% url 'contact:index' %}">Contact</a>
    <a href="#about">History</a>
</div>

<div class="contact_title">
    <h1>Contact</h1>
</div>
<span></span>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-3l2i">Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-8xyp">123 345 678</td>
    </tr>
    <tr>
        <td class="tg-4kgy">Contact address<br></td>
    </tr>
    <tr>
        <td class="tg-8xyp">ItalianHeaven@gmail.com</td>
    </tr>
    <tr>
        <td class="tg-4kgy">Warsaw address</td>
    </tr>
    <tr>
        <td class="tg-8xyp">Nowak st. 23/6, 53-234 Warsaw<br></td>
    </tr>
    <tr>
        <td class="tg-4kgy">Wroclaw address</td>
    </tr>
    <tr>
        <td class="tg-8xyp">Witos st. 87/3, 53-234 Wroclaw</td>
    </tr>
    <tr>
        <td class="tg-4kgy">Cracow address</td>
    </tr>
    <tr>
        <td class="tg-cdiu">Kowalski st. 32/22, 53-234 Cracow</td>
    </tr>
    </tbody>
</table>
</body>
</html>